{% extends 'base2.html' %}
{% load static %}
{% block content %}


<section class="banner_area">
    <div class="container">
        <div class="banner_content">
            <h4>A propos de nous</h4>
            <a href="index.html">Acceuil</a>
            <a class="active" href="#">à propos de nous</a>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================About Us Content Area =================-->
        <!--================Our Chefs Area =================-->
        <section class="our_chefs_area">
            <div class="container">
                <div class="s_black_title">
                    <h3></h3>
                    <h2>Les membres administrateurs du projet</h2>
                </div>
                <div class="chefs_slider_active">
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/padamound.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>PADAMOUND G Laurent</h4></a>
                                    <h5>16B030FS</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>PADAMOUND GARGA Laurent</h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/bello.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>MAMOUDOU BELLO </h4></a>
                                    <h5>15A412FS</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>MAMOUDOU BELLO</h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/kenewe.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>KANEWE LAMNA EMMANUEL</h4></a>
                                    <h5>15A385FS</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>KANEWE LAMNA EMMANUEL</h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/mbogning.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>MBOGNING TCHOFFO JUNIOR</h4></a>
                                    <h5>Matricule</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>MBOGNING TCHOFFO JUNIOR</h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/gassiso.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>GASSISO GILBERT</h4></a>
                                    <h5>Matricule</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>GASSISO GILBERT</h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/tchobyang.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>TCHOBYANG ALBERT</h4></a>
                                    <h5>Matricule</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>TCHOBYANG ALBERT  </h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/baba.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>BABA SOULEY HAMIDOU</h4></a>
                                    <h5>Matricule</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>BABA SOULEY HAMIDOU </h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </section>
        <!--================End Our Chefs Area =================-->
        



<!--================Connexion espace =================-->
<div class="container">
        <div class="col-lg-4 col-lg-offset-4">
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="boite" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                            <h4 class="modal-title">Connexion</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-login" action="index.html">
                                <div class="login-wrap">

                                    <input type="text" class="form-control" placeholder="Identifiant"
                                    style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 50px 50px 0px 0px;" autofocus>
                                    <br>

                                    <input type="password" class="form-control" placeholder="Mot de passe"
                                    style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 0px 0px 50px 50px;">
                                    
                                    <span class="pull-right">
                                    <a data-toggle="modal" href="index.html#myModal"> Mot de passe oublié?</a>
                                    </span>
                                    </label>
                                    <button class="btn btn-theme btn-block" style="background-color: darkred;color: aliceblue; border:1px solid aliceblue; border-radius: 50px 50px 50px 50px;" href="index.html" type="submit"><i class="fa fa-sign-in"></i> Se connecter</button>
                                    <hr>
                                    
                                    <div class="registration">
                                    Vous n'avez pas de compte ?
                                    <a data-toggle="modal" href="index.html#inscription">
                                        Créer un compte
                                        </a>
                                    </div>
                                </div>
                                
                            </form>
                        
                            
                        </div>
                        <div class="modal-footer centered">
                            <button data-dismiss="modal" class="btn btn-theme04" style="background-color: aliceblue;color: darkred; border:1px solid darkred; border-radius: 50px 50px 50px 50px;">Tout annuler</button>
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================Connexion espace =================-->

    <div class="container">
        <div class="col-lg-4 col-lg-offset-4">
             <!-- Mot de passe perdu -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Vous avez oublié votre mot de passe ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Alors entrez votre adresse e-mail.</p>
                            <input type="text" name="email" placeholder="E-mail" autocomplete="off" class="form-control placeholder-no-fix"
                            style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 50px 50px 50px 50px;">
                        </div>
                        
                        <div class="modal-footer centered">
                            <button data-dismiss="modal" class="btn btn-theme04" style="color: darkred; border:1px solid darkred; border-radius: 50px 50px 50px 50px;" type="button">Annuler</button>
                            
                            <button class="btn btn-theme04" style="background-color: #a34141;color: aliceblue; border:1px solid aliceblue; border-radius: 50px 50px 50px 50px;" type="submit">Confirmer</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mot de passe perdu -->
        </div>
    </div>


    <!--================Récherche espace =================-->

    <div class="container">
            <div class="col-lg-4 col-lg-offset-4">
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="recherche" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                                <h4 class="modal-title">Vous désirez faire une récherche rapide, il suffit de renseigne le champs ci-déssous 
                                    par un mot !
                                </h4>
                            </div><br>
                            <form action="#">
                                <div class="modal-body">
                                
                                    <input type="text" name="mot" placeholder="Entrer un mot" autocomplete="off" class="form-control placeholder-no-fix"
                                    style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 50px 50px 50px 50px;"><br>
                                    
                                
                                </div>
                                <div class="modal-footer centered">
                                    <button data-dismiss="modal" class="btn btn-theme04" style="color: darkred; border:1px solid darkred; border-radius: 50px 50px 50px 50px;" type="button">Annuler</button>
                                    
                                    <button class="btn btn-theme04" style="background-color: #a34141;color: aliceblue; border:1px solid aliceblue; border-radius: 50px 50px 50px 50px;" type="submit">Chercher</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
   
    <!--================Récherche espace =================-->

<!--================inscription espace =================-->
<div class="container">
        <div class="col-lg-4 col-lg-offset-4">
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="inscription" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                            <h4 class="modal-title">Créer un compte</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-login" action="index.html">
                                <div class="login-wrap">

                                    <input type="text" class="form-control" style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 50px 50px 0px 0px;" placeholder="Votre nom et prénom" autofocus><br>
                                    <input type="email" class="form-control" style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 0px 0px 50px 50px;" placeholder="Votre adresse e-mail" autofocus><br>
                                    <input type="tel" class="form-control" style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 50px 50px 0px 0px;" placeholder="Votre numéro de téléphone" autofocus><br>
                                    <select type="text" class="form-control" style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 0px 0px 50px 50px;"  autofocus>
                                        <option value="0">Etudiant</option>
                                        <option value="1">Enseignant</option>
                                        <option value="2">Touriste</option>
                                    
                                    <select><br>
                                    
                                    <input type="password" class="form-control" style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 50px 50px 0px 0px;" placeholder="Mot de passe"><br>
                                    <input type="password_confirm" class="form-control" style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 0px 0px 50px 50px;" placeholder="Confirmer ce mot de passe"> <br><br>
                                    
                                    
                                    </label>
                                    <button class="btn btn-theme btn-block" href="index.html" type="submit" style="background-color: #a34141;color: aliceblue; border:1px solid rgb(247, 242, 242); border-radius: 50px 50px 50px 50px;"><i class="fa fa-save"></i> Sauvegarder</button>
                                   
                                    
                                
                                </div>
                                
                            </form>
                        
                            
                        </div>
                        <div class="modal-footer centered">
                            <button data-dismiss="modal" class="btn btn-theme04" style="background-color: aliceblue;color: darkred; border:1px solid darkred; border-radius: 50px 50px 50px 50px;" type="button">Tout annuler</button>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================inscription espace =================-->




{% endblock content %}