{% extends 'base2.html' %}
{% load static %}
{% block content %}


<section class="banner_area">
    <div class="container">
        <div class="banner_content">
            <h4>A propos de nous</h4>
            <a href="index.html">Acceuil</a>
            <a class="active" href="#">à propos de nous</a>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================About Us Content Area =================-->
        <!--================Our Chefs Area =================-->
        <section class="our_chefs_area">
            <div class="container">
                <div class="s_black_title">
                    <h3></h3>
                    <h2>Les administrateurs du projet</h2>
                </div>
                <div class="chefs_slider_active">
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/padamound.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>PADAMOUND G Laurent</h4></a>
                                    <h5>16B030FS</h5>
                                    <p>Membre de développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>PADAMOUND GARGA Laurent</h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/bello.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>BELLO MAMOUDOU FIDELE  </h4></a>
                                    <h5>15A412FS</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>MAMOUDOU BELLO</h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/kenewe.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>KANEWE LAMNA EMMANUEL</h4></a>
                                    <h5>15A385FS</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>KANEWE LAMNA EMMANUEL</h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/mbogning.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>MBOGNING TCHOFFO JUNIOR</h4></a>
                                    <h5>Matricule</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>MBOGNING TCHOFFO JUNIOR</h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/gassiso.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>GASSISO GILBERT</h4></a>
                                    <h5>Matricule</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>GASSISO GILBERT</h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/tchobyang.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>TCHOBYANG ALBERT</h4></a>
                                    <h5>Matricule</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>TCHOBYANG ALBERT  </h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'katalog/equipe/baba.png' %}" width="200" height="300" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>BABA SOULEY HAMIDOU</h4></a>
                                    <h5>Matricule</h5>
                                    <p>Membre du développement et administrateur de Katalogue,.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>BABA SOULEY HAMIDOU </h3>
                                    <h4>Administrateur</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </section>
        <!--================End Our Chefs Area =================-->
        






{% endblock content %}