{% extends 'base2.html' %}
{% load static %}
{% block content %}

<section class="banner_area">
    <div class="container">
        <div class="banner_content">
            <h4>A propos de la plateforme</h4>
            <a href="index.html">Acceuil</a>
            <a class="active" href="#">à propos de la plateforme</a>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================About Us Content Area =================-->
<section class="about_us_content">
    <div class="container">
        <div class="row about_inner_item">
            <div class="col-md-6">
                <div class="about_left_content">
                    <h4>Katalogue 2019</h4>
                    <p> Très longtemps, les nouveaux et les anciens étudiants ont eus du mal à s'installer facilement dans les périphériques 
                        du campus universitaire, à cause de la suranchére des chambres et que leurs recherche n'acccorde une facilité mais prouve
                        un manque d'organisation ... Alors pour cela Katalogue de Dang apporte son immence soutien à ces étudiants et éventuellement des touristes pour 
                        la localisation facile des cités et la réservation des chambres..</p>
                    <ul>
                        
                        
                        <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> BELLO MAMOUDOU</a></li>
                        <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> PADAMOUND GARGA LAURENT </a></li>
                        <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> MBOING TCHOFO JUNIOR</a></li>
                        <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> KENEWE LAMNA EMMANUEL</a></li>

                        <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> TCHOBYANG ALBERT </a></li>
                        <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> GASSISO GILBERT</a></li>
                        <li><a href="#"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> BABA SOULEY HAMIDOU</a></li>
                   </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_right_image">
                    <img src="{% static 'katalog/logo.png' %} " alt="">
                </div>
            </div>
            
        </div>
       
        
    </div>
</section>
<!--================End About Us Content Area =================-->







{% endblock content %}