{% extends 'base2.html' %}
{% load static %}
{% block content %}

<section class="banner_area">
    <div class="container">
        <div class="banner_content">
            <h4>Nous contacter</h4>
            <a href="index.html">Acceuil</a>
        </div>
    </div>
</section>
<section class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact_details">
                    <h6 class="contact_title">Quelques informations</h6>

                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="media-body">
                            <h4>Adresse</h4>
                            <h5>N'gaoundéré, Bini </h5>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h4>Tél</h4>
                            <h5>+237 000 000 000</h5>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="media-body">
                            <h4>E-mail</h4>
                            <h5>Katalogue.com@gmail.com</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row contact_form_area">
                    <h3 class="contact_title">Envoyer un message</h3>
                    <form
                     method="post" id="contactForm">
                        <div class="form-group col-md-12">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Nom*">
                        </div>
                        <div class="form-group col-md-12">
                          <input type="text" class="form-control" id="last" name="last" placeholder="Prénom*">
                        </div>
                       
                        <div class="form-group col-md-12">
                          <input type="email" class="form-control" id="email" name="email" placeholder="Votre Email*">
                        </div>
                         <div class="form-group col-md-12">
                          <input type="text" class="form-control" id="subject" name="subject" placeholder="objet">
                        </div>
                        <div class="form-group col-md-12">
                          <textarea class="form-control" id="message" name="message" placeholder="Ecrire le message"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <button class="btn btn-default submit_btn" type="submit">Envoyer</button>
                         </div>
                    </form>
                    <div id="success">
                        <p>Your text message sent successfully!</p>
                    </div>
                    <div id="error">
                        <p>Sorry! Message not sent. Something went wrong!!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}