


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="" />

    <title></title>

    


<!-- Icon css link -->
<link href="/static/vendors/material-icon/css/materialdesignicons.min.css" rel="stylesheet">
<link href="/static/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/vendors/linears-icon/style.css" rel="stylesheet">
<!-- Bootstrap -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">

<!-- Rev slider css -->
<link href="/static/vendors/revolution/css/settings.css" rel="stylesheet">
<link href="/static/vendors/revolution/css/layers.css" rel="stylesheet">
<link href="/static/vendors/revolution/css/navigation.css" rel="stylesheet">

<!-- Extra plugin css -->
<link href="/static/vendors/bootstrap-selector/bootstrap-select.css" rel="stylesheet">
<link href="/static/vendors/bootatrap-date-time/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/static/vendors/owl-carousel/assets/owl.carousel.css" rel="stylesheet">


<link href="/static/css/responsive.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">



<style>

    .block-17 {
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .block-17 form .fields {
    width: calc(100% - 80px);
    position: relative; }
    .block-17 form .fields .one-third {
      width: 50%;
      background: #fff; }
      .block-17 form .fields .one-third:last-child {
        border-right: none;
        border-left: 1px solid rgba(0, 0, 0, 0.1); }
      .block-17 form .fields .one-third label {
        font-weight: 700;
        color: #000000; }
    .block-17 form .fields .form-control {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: transparent;
      background: #fff !important;
      color: #4d4d4d !important;
      border: 2px solid rgba(0, 0, 0, 0.1);
      font-size: 14px;
      width: 100%;
      height: 70px !important;
      bordeR: 1px solid transparent;
      padding: 10px 30px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      .block-17 form .fields .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #4d4d4d; }
      .block-17 form .fields .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: #4d4d4d; }
      .block-17 form .fields .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: #4d4d4d; }
      .block-17 form .fields .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: #4d4d4d; }
    .block-17 form .fields .icon {
      position: absolute;
      top: 50%;
      right: 30px;
      font-size: 14px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: rgba(0, 0, 0, 0.7); }
      @media (max-width: 767.98px) {
        .block-17 form .fields .icon {
          right: 10px; } }
    .block-17 form .fields .select-wrap {
      position: relative; }
      .block-17 form .fields .select-wrap select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
  .block-17 form .search-submit {
    width: 160px;
    background: #b10400;
    border: 1px solid #b10400;
    color: #fff;
    padding: 12px 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    @media (max-width: 767.98px) {
      .block-17 form .search-submit {
        width: 80px; } }
    .block-17 form .search-submit:hover {
      background: #b10400 !important;
      color: #fff !important;
      border: 1px solid #b10400 !important; }

    .m-4 {
     margin: 1.5rem !important; }

    .mt-4,
    .my-4 {
    margin-top: 1.5rem !important; }

    .mr-4,
    .mx-4 {
    margin-right: 1.5rem !important; }

    .mb-4,
    .my-4 {
    margin-bottom: 1.5rem !important; }

    .ml-4,
    .mx-4 {
    margin-left: 1.5rem !important; }



    .d-block {
        display: block !important; }
    
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }


</style>



    

</head>

<body>
    

<div id="preloader">
    <div class="loader absolute-center">
        <div class="loader__box"><b class="top"></b></div>
        <div class="loader__box"><b class="top"></b></div>
        <div class="loader__box"><b class="top"></b></div>
    </div>
  </div>

<!--================ Frist hader Area =================-->
<div class="first_header">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="header_contact_details">
                  <a href="#"><i class="fa fa-phone"></i>+237 655 179 299</a>
                  <a href="#"><i class="fa fa-map-marker"></i>N'gaoundéré</a>
              </div>
          </div>
          <div class="col-md-4">
              <div class="event_btn_inner">
                 
                  <a class="event_btn" href="reservation"><i class="fa fa-calendar" aria-hidden="true"></i>Résérvation </a>
                  
                  <a class="event_btn" data-toggle="modal" href="#boite"><i class="fa fa-sign-in" aria-hidden="true"></i>Se connecter</a>
                  
              </div>
          </div>
          <div class="col-md-4">
              <div class="header_social">
                  <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--================End Footer Area =================-->

<!--================End Footer Area =================-->
<header class="main_menu_area">
  <nav class="navbar navbar-default">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="/static/katalog/katalog%2000.png" width="200" height="100" alt=""></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="">Acceuil</a></li>
                  <li class="dropdown submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A propos <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                          <li><a href="about-us">De nous</a></li>
                          <li><a href="about-us">De la plateforme</a></li>
                      </ul>
                  </li>
                  <li class="dropdown submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                          
                          <li><a href="cites">Lister les cités</a></li>
                      </ul>
                  </li>
            
                  <li class="dropdown submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chambres <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                          <ul class="dropdown-menu">
                              <li><a href="about-us.html">Moderne</a></li>
                              <li><a href="about-us.html">Non Moderne</a></li>
                          </ul>
                      </li>
                  <li><a href="contact">Nous contacter </a></li>
                  <li><a data-toggle="modal" href="#recherche"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                   
              </ul>

          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
</header>
  

    

<!--================Slider Area =================-->
<div class="first_header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header_contact_details">
                    <a href="#"><i class="fa fa-phone"></i>+237 655 179 299</a>
                    <a href="#"><i class="fa fa-map-marker"></i>N'gaoundéré</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="event_btn_inner">
                   
                    
                    <a class="event_btn" href=""><i class="fa fa-sign-in" aria-hidden="true"></i>Se déconnecter</a>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="header_social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Footer Area =================-->

<!--================End Footer Area =================-->
<header class="main_menu_area">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/static/katalog/katalog00.png" width="200" height="100" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Acceuil</a></li>
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A propos <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="about-us.html">De nous</a></li>
                            <li><a href="about-us.html">De la plateforme</a></li>
                        </ul>
                    </li>
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            
                            <li><a href="cites">Lister les cités</a></li>
                        </ul>
                    </li>
              
                    
                    

                    <li class="dropdown submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chambres <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Moderne</a></li>
                                <li><a href="">Non Moderne</a></li>
                            </ul>
                        </li>
                    <li><a href="contact.html">Nous contacter </a></li>
                    <li><a data-toggle="modal" href="#recherche"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                     
                </ul>

                

               

                
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<!--================End Footer Area =================-->

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_content">
            <h4>Faire une récherche approfondie</h4>
            <a href="index.html">Acceuil</a>
            <a class="active" href="#">Les cités</a>
            
        </div><br><br>


        <!-- Search Panel -->

            <div class="container">
                
                <div class="block-17 my-4">
                    <form action="" method="post" class="d-block d-flex">
                      <div class="fields d-block d-flex">

                        <div class="select-wrap one-third">
                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                            <select name="" id="" class="form-control" placeholder="Prix ">
                                
                                <option value="">Bini</option> 
                                <option value="">Dang</option>
                                <option value="">Malang</option> 
                                <option value="">Manwi</option>      
                            </select>
                        </div>

                        <div class="select-wrap one-third">
                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                            <select name="" id="" class="form-control" placeholder="Prix ">
                                <option value="">Chambre équipée</option> 
                                <option value="">Chambre Non-équipée</option>    
                            </select>
                        </div>
                        <div class="select-wrap one-third">
                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                            <select name="" id="" class="form-control" placeholder="Prix ">
                                <option value="">Chambre Sécurisée</option> 
                                <option value="">Chambre Non-Sécurisée</option>    
                            </select>
                        </div>

                        <div class="select-wrap one-third">
                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                            <select name="" id="" class="form-control" placeholder="Prix ">
                                <option value="">Chambre Moderne</option> 
                                <option value="">Chambre Non-Moderne</option>    
                            </select>
                        </div>
 
                        <div class="select-wrap one-third">
                          <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                          <select name="" id="" class="form-control" placeholder="Prix ">
                             
                            <option value="">- 10.000 Fcfa</option> 
                            <option value="">10.000 à 15.000 Fcfa</option>   
                            <option value="">15.000 à 20.000 Fcfa</option> 
                            <option value="">20.000 à 25.000 Fcfa</option>   
                            <option value="">25.000 à 30.000 Fcfa</option>  
                          </select>
                        </div>

                      </div>

                      
                      <input type="submit" class="search-submit btn btn-primary" value="Réchercher">  
                    </form>
                  </div>
                   
             
        </div> 
    </div> <br><br><br>

		<!-- Search Panel -->
    </div>
</section>
<!--================End Banner Area =================-->



    <!--================Récherche espace =================-->

    <div class="container">
            <div class="col-lg-4 col-lg-offset-4">
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="recherche" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                                <h4 class="modal-title">Vous désirez faire une récherche rapide, il suffit de renseigne le champs ci-déssous 
                                    par un mot !
                                </h4>
                            </div><br>
                            <form action="#">
                                <div class="modal-body">
                                
                                    <input type="text" name="mot" placeholder="Entrer un mot" autocomplete="off" class="form-control placeholder-no-fix"
                                    style="text-align: center; color: darkred; border:1px solid darkred; border-radius: 50px 50px 50px 50px;"><br>
                                    
                                
                                </div>
                                <div class="modal-footer centered">
                                    <button data-dismiss="modal" class="btn btn-theme04" style="color: darkred; border:1px solid darkred; border-radius: 50px 50px 50px 50px;" type="button">Annuler</button>
                                    
                                    <button class="btn btn-theme04" style="background-color: #a34141;color: aliceblue; border:1px solid aliceblue; border-radius: 50px 50px 50px 50px;" type="submit">Chercher</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
   
    <!--================Récherche espace =================-->

<footer class="footer_area">
  <div class="footer_widget_area">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <aside class="f_widget about_widget">
                      <div class="f_w_title">
                          <h4>A propos de Katalogue</h4>
                      </div>
                      <p align="justify"> Très longtemps, les nouveaux et les anciens étudiants ont eus du mal à s'installer facilement dans 
                        <a style="color: #b10400;" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><em> Lire la suite </em></a>
                       </p>


                        <div id="collapseOne" class="accordion-body collapse">    
                            <p align="justify">
                            les périphériques du campus universitaire, à cause de la suranchére des chambres et que leurs recherche n'acccorde une facilité mais prouve
                            un manque d'organisation ... Alors pour cela Katalogue de Dang apporte son immence soutien à ces étudiants et éventuellement des touristes pour 
                            la localisation facile des cités et la réservation des chambres.
                            </p> 
                        </div>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                  </aside>
              </div>
              <div class="col-md-3">
                  <aside class="f_widget contact_widget">
                      <div class="f_w_title">
                          <h4>NOUS CONTACTER</h4>
                      </div>
                      <p align="justify"> Pour toute informations supplémentaires veuillez nous contacter a l'une des adresses suivante:</p>
                      <ul>
                          <li><a href="#"><i class="fa fa-envelope"></i>katalogdang@gmail.com</a></li>
                          <li><a href="#"><i class="fa fa-phone"></i>+237 655 179 299</a></li>
            
                      </ul>
                  </aside>
              </div>
              <div class="col-md-3">
                  <aside class="f_widget twitter_widget">
                      <div class="f_w_title">
                          <h4>Notre page facebook</h4>
                      </div>
                      <ul>
                          <li align="justify">
                              <a href="#">Du nouveau a dang:</a> La surpopulation a dang est un enjeu majeur pour tous les etudiants ces a cet effet 
                              que cette plateforme a été mis sur puis.
                          </li>
                        
                      </ul>
                  </aside>
              </div>
              <div class="col-md-3">
                  <aside class="f_widget gallery_widget">
                      <div class="f_w_title">
                          <h4>Gallerie</h4>
                      </div>
                      <ul>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                      </ul>
                  </aside>
              </div>
          </div>
      </div>
  </div>
  <div class="copy_right_area">
      <div class="container">
          <div class="pull-left">
          <h5>
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> Tout droit réservé   |    <i class="fa fa-hand-o-right" aria-hidden="true"></i><a href="index.html" target="_blank">  Katalogue</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p
          ></h5>
          </div>
          <div class="pull-right">
              <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="index.html">Acceuil</a></li>
                  <li><a href="about-us.html">A propos</a></li>
                  <li><a href="#">Galerie</a></li>
                  <li><a href="#">Reservation</a></li>
                  <li><a href="actualites.html">Actualités</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
<!--================End Recent Blog Area =================-->

    

<!-- static/js -->
<script src="/static/min/google-map.min.js"></script>
<script src="/static/min/google-map.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/contact.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/contact.js"></script>
<script src="/static/js/gmap.min.js"></script>
<script src="/static/js/jquery-2.%26.4.min.js"></script>
<script src="/static/js/jquery.form.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/theme.js"></script>



 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="/static/js/jquery-2.1.4.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="/static/js/bootstrap.min.js"></script>
 <!-- Rev slider js -->
 <script src="/static/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
 <script src="/static/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
 <script src="/static/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
 <script src="/static/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
 <script src="/static/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
 <script src="/static/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
 <script src="/static/vendors/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
 <!-- Extra plugin js -->
 <script src="/static/vendors/bootstrap-selector/bootstrap-select.js"></script>
 <script src="/static/vendors/bootatrap-date-time/bootstrap-datetimepicker.min.js"></script>
 <script src="/static/vendors/owl-carousel/owl.carousel.min.js"></script>
 <script src="/static/vendors/isotope/imagesloaded.pkgd.min.js"></script>
 <script src="/static/vendors/isotope/isotope.pkgd.min.js"></script>
 <script src="/static/vendors/countdown/jquery.countdown.js"></script>
 <script src="/static/vendors/js-calender/zabuto_calendar.min.js"></script>
 <!--gmaps Js-->
<!--        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>-->
<!--        <script src="js/gmaps.min.js"></script>-->
 
 
<!--        <script src="js/video_player.js"></script>-->
 <script src="/static/js/theme.js"></script>

    
      
    

</body>

</html>