{% load static %}

<footer class="footer_area">
  <div class="footer_widget_area">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <aside class="f_widget about_widget">
                      <div class="f_w_title">
                          <h4>A propos de Katalogue</h4>
                      </div>
                      <p> Très longtemps, les nouveaux et les anciens étudiants ont eus du mal à s'installer facilement dans 
                        <a style="color: #b10400;" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><em> Lire la suite </em></a>
                       </p>


                        <div id="collapseOne" class="accordion-body collapse">    
                            <p>
                            les périphériques du campus universitaire, à cause de la suranchére des chambres et que leurs recherche n'acccorde une facilité mais prouve
                            un manque d'organisation ... Alors pour cela Katalogue de Dang apporte son immence soutien à ces étudiants et éventuellement des touristes pour 
                            la localisation facile des cités et la réservation des chambres.
                            </p> 
                        </div>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                  </aside>
              </div>
              <div class="col-md-3">
                  <aside class="f_widget contact_widget">
                      <div class="f_w_title">
                          <h4>NOUS CONTACTER</h4>
                      </div>
                      <p>Pour toute informations supplémentaires veuillez nous contacter a l'une des adresses suivante:</p>
                      <ul>
                          <li><a href="#"><i class="fa fa-envelope"></i>katalogdang@gmail.com</a></li>
                          <li><a href="#"><i class="fa fa-phone"></i>+237 655 179 299</a></li>
            
                      </ul>
                  </aside>
              </div>
              <div class="col-md-3">
                  <aside class="f_widget twitter_widget">
                      <div class="f_w_title">
                          <h4>Notre page facebook</h4>
                      </div>
                      <ul>
                          <li>
                              <a href="#">Du nouveau a dang:</a> La surpopulation a dang est un enjeu majeur pour tous les etudiants ces a cet effet 
                              que cette plateforme a été mis sur puis.
                          </li>
                        
                      </ul>
                  </aside>
              </div>
              <div class="col-md-3">
                  <aside class="f_widget gallery_widget">
                      <div class="f_w_title">
                          <h4>Gallerie</h4>
                      </div>
                      <ul>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                          <li><a href="#"><img src="katalog/" alt=""><i class="fa fa-search"></i></a></li>
                      </ul>
                  </aside>
              </div>
          </div>
      </div>
  </div>
  <div class="copy_right_area">
      <div class="container">
          <div class="pull-left">
          <h5>
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> Tout droit réservé   |    <i class="fa fa-hand-o-right" aria-hidden="true"></i><a href="index.html" target="_blank">  Katalogue</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p
          ></h5>
          </div>
          <div class="pull-right">
              <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="index.html">Acceuil</a></li>
                  <li><a href="about-us.html">A propos</a></li>
                  <li><a href="#">Galerie</a></li>
                  <li><a href="#">Reservation</a></li>
                  <li><a href="actualites.html">Actualités</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
<!--================End Recent Blog Area =================-->