{% load crispy_forms_tags %}
{% load static %}

<div id="preloader">
    <div class="loader absolute-center">
        <div class="loader__box"><b class="top"></b></div>
        <div class="loader__box"><b class="top"></b></div>
        <div class="loader__box"><b class="top"></b></div>
    </div>
  </div>

<!--================ Frist hader Area =================-->
<div class="first_header">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="header_contact_details">
                  <a href="#"><i class="fa fa-phone"></i>+237 655 179 299</a>
                  <a href="#"><i class="fa fa-map-marker"></i>N'gaoundéré</a>
              </div>
          </div>
          <div class="col-md-4">
              <div class="event_btn_inner">
                 
                   
                {% if request.user.is_authenticated  %}
                     <form method="POST" action="/logout/" >
                        {% csrf_token %}
                     <button type="submit" class="event_btn" data-toggle="modal" href="#boite"><i class="fa fa-sign-in" aria-hidden="true"></i>Se deconnecter</a>
                     </form>
                {% else  %}
                <form method="POST" action="/login/" >
                    {% csrf_token %}
                   
                    <button type="submit" class="event_btn" data-toggle="modal" ><i class="fa fa-sign-in" aria-hidden="true"></i>Se connecter</button>   
                </form>
                       {% endif %}
                
               
              </div>
          </div>
          <div class="col-md-4">
              <div class="header_social">
                  <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--================End Footer Area =================-->

<!--================End Footer Area =================-->
<header class="main_menu_area">
  <nav class="navbar navbar-default">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="{% static 'katalog/katalog 00.png' %}" width="200" height="100" alt=""></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="/">Acceuil</a></li>
                  <li class="dropdown submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A propos <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                          <li><a href="/apropos_de_nous">De nous</a></li>
                          <li><a href="/apropos_de_la_plateforme">De la plateforme</a></li>
                      </ul>
                  </li>
                  <li class="dropdown submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                          
                          <li><a href="/cites">Lister les cités</a></li>
                      </ul>
                  </li>
            
                  <li class="dropdown submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chambres <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">Moderne</a></li>
                              <li><a href="#">Non Moderne</a></li>
                          </ul>
                      </li>
                  <li><a href="/nous_contacter">Nous contacter </a></li>
                  <li><a data-toggle="modal" href="#recherche"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                   
              </ul>

          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
</header>