<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<h1>home page</h1>

<nav>
    
    {% if user.is_authentificated %}
            <a href="{% url 'logout' %} ">logout</a>
    {% else %}
            <a href="{% url 'register' %} ">Register</a>
            <a href="{% url 'login' %} ">login</a>
    {% endif %} 
</nav>
    
</body>
</html>