{% load static %}


<!-- Icon css link -->
<link href="{% static 'vendors/material-icon/css/materialdesignicons.min.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/linears-icon/style.css' %}" rel="stylesheet">
<!-- Bootstrap -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Rev slider css -->
<link href="{% static 'vendors/revolution/css/settings.css' %}" rel="stylesheet">
<link href="{% static 'vendors/revolution/css/layers.css' %}" rel="stylesheet">
<link href="{% static 'vendors/revolution/css/navigation.css' %}" rel="stylesheet">

<!-- Extra plugin css -->
<link href="{% static 'vendors/bootstrap-selector/bootstrap-select.css' %}" rel="stylesheet">
<link href="{% static 'vendors/bootatrap-date-time/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/owl-carousel/assets/owl.carousel.css' %}" rel="stylesheet">


<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">




