{% load static %}

<!-- static/js -->
<script src="{% static 'min/google-map.min.js' %}"></script>
<script src="{% static 'min/google-map.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/gmap.min.js' %}"></script>
<script src="{% static 'js/jquery-2.&.4.min.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>



 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <!-- Rev slider js -->
 <script src="{% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
 <script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
 <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
 <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
 <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
 <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
 <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
 <!-- Extra plugin js -->
 <script src="{% static 'vendors/bootstrap-selector/bootstrap-select.js' %}"></script>
 <script src="{% static 'vendors/bootatrap-date-time/bootstrap-datetimepicker.min.js' %}"></script>
 <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
 <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
 <script src="{% static 'vendors/isotope/isotope.pkgd.min.js' %}"></script>
 <script src="{% static 'vendors/countdown/jquery.countdown.js' %}"></script>
 <script src="{% static 'vendors/js-calender/zabuto_calendar.min.js' %}"></script>
 <!--gmaps Js-->
<!--        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>-->
<!--        <script src="js/gmaps.min.js"></script>-->
 
 
<!--        <script src="js/video_player.js"></script>-->
 <script src="{% static 'js/theme.js' %}"></script>